/*
 * Chargement des fontes
 * Voir : http://cours-web.ch/css/typographie
*/


@font-face {
    font-family: 'Colaborate';
    src: url('../fonts/Colaborate-Bold.woff') format('woff');
    font-weight: normal;
    font-style:normal;
	font-size: 500%;

}

@font-face {
    font-family: 'Colaborate';
    src: url('../fonts/Colaborate-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
	font-size: 500%;
}


html {
	font-family: Colaborate, monospace;
	font-size: 500%;
}

time {
	position: absolute;
}

/*
 * Définition du modèle de boîte
 * Voir : http://cours-web.ch/css/box-model
*/

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
